pyyaml
hydra-core
pytorch_lightning==1.7.2
git+https://github.com/igor-krawczuk/mini-moses
torchmetrics
torch_geometric
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
ipdb
pdbpp
networkx
overrides
pygsp
pyemd
